<h1>Short URLS</h1>

{{#each mensajes}}
  <div class='alert alert-dark mb-3'>{{this.msg}}</div>
{{/each}}

{{>Form_url}}

{{#if production}}
{{#each urls}}
  {{> Card_url_production url=this}}
{{/each}}

{{else}}
{{#each urls}}
  {{> Card_url_development url=this}}
{{/each}}

{{/if}}